body {	
    background-color:#acd;
    color:#333;
    font-family: georgia,sans-serif;
    margin:0;
    padding:0;
}
 
#wrapper {	
    background-color:#eef;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    margin:0 auto;
    width:1200px;
}

#header {	
    background-color:#0ac;
    border-top:1px solid #ccc;
    height:80px;
    margin:0px 0px 10px 0px;
    padding-left:20px;
    width:1180px;
}

#sidebar {	
    background-color:#08f;
    float:left;
    margin-top:10px;
    width:140px;
}

#content {
    background-color:#cee;
    float:right;
    margin:10px 20px 30px 20px;
    padding:10px;
    width:1000px;
}

#footer {
    clear:both;
    width:100%;
    height:55px;
    border-top:1px solid #ccc;
}

#view {
    background-color:#ffffff;
    border: 1px solid black;
    border-collapse:collapse;
    text-align:left;
    width:100%;
}

th {
    background-color:#BBffff;
    border: 1px solid black;
    padding-left:15px;
    width:15%;
}

#email th {
    width:20%;
}

#edit th {
    width:10px;
}

#cell {
    border-right:1px solid black;
    text-align:left;
    padding-left:15px;
}

#alt {
    background-color:#DDffff;
}
