body {		
    background-color:#acd;
    color:#000;
    font-family: georgia,sans-serif;
    margin:0;
    padding:0;
}
 
#wrapper {
    background-color:#eef;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    margin:0 auto;
    width:1200px;
}

#header {
    background-color:#0ac;
    border-top:1px solid #ccc;
    height:80px;
    margin:0px 0px 10px 0px;
    padding-left:20px;
    width:1180px;
}

#sidebar {
    width: 140px;
    float: left;
    margin-top: 10px;
}

#btnSidebar {
	background: #b3b3b3;
    background-image: -webkit-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -moz-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -ms-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -o-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: linear-gradient(to bottom, #b3b3b3, #5c5c5c);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #888888;
	display:inline-block;
    color: #dbdbdb;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
    padding:2px;
    margin-bottom: 2px;
	line-height:20px;
	width:130px;
	text-decoration:none;
	text-align:center;
    text-shadow: 1px 3px 4px #000000;
}
#btnSidebar:hover {
	background: #949494;
    background-image: -webkit-linear-gradient(top, #949494, #d1d1d1);
    background-image: -moz-linear-gradient(top, #949494, #d1d1d1);
    background-image: -ms-linear-gradient(top, #949494, #d1d1d1);
    background-image: -o-linear-gradient(top, #949494, #d1d1d1);
    background-image: linear-gradient(to bottom, #949494, #d1d1d1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}#btnSidebar:active {
	position:relative;
	top:1px;
}

#btnPageActions {
	background: #b3b3b3;
    background-image: -webkit-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -moz-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -ms-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -o-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: linear-gradient(to bottom, #b3b3b3, #5c5c5c);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0px;
	border:1px solid #888888;
	display:inline-block;
    color: #dbdbdb;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
    padding:2px;
    margin-bottom: 2px;
	line-height:20px;
	width:100px;
	text-decoration:none;
	text-align:center;
    text-shadow: 1px 3px 4px #000000;
}
#btnPageActions:hover {
	background: #949494;
    background-image: -webkit-linear-gradient(top, #949494, #d1d1d1);
    background-image: -moz-linear-gradient(top, #949494, #d1d1d1);
    background-image: -ms-linear-gradient(top, #949494, #d1d1d1);
    background-image: -o-linear-gradient(top, #949494, #d1d1d1);
    background-image: linear-gradient(to bottom, #949494, #d1d1d1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}#btnPageActions:active {
	position:relative;
	top:1px;
}

#btnSubmit {
	background: #b3b3b3;
    background-image: -webkit-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -moz-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -ms-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -o-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: linear-gradient(to bottom, #b3b3b3, #5c5c5c);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0px;
	border:1px solid #888888;
	display:inline-block;
    color: #dbdbdb;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
    padding:2px;
    margin-bottom: 2px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
    text-shadow: 1px 3px 4px #000000;
}
#btnSubmit:hover {
	background: #949494;
    background-image: -webkit-linear-gradient(top, #949494, #d1d1d1);
    background-image: -moz-linear-gradient(top, #949494, #d1d1d1);
    background-image: -ms-linear-gradient(top, #949494, #d1d1d1);
    background-image: -o-linear-gradient(top, #949494, #d1d1d1);
    background-image: linear-gradient(to bottom, #949494, #d1d1d1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}#btnSubmit:active {
	position:relative;
	top:1px;
}

#headerFunctions {
    float: right;
}

#btnHeader {
	background: #b3b3b3;
    background-image: -webkit-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -moz-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -ms-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: -o-linear-gradient(top, #b3b3b3, #5c5c5c);
    background-image: linear-gradient(to bottom, #b3b3b3, #5c5c5c);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0px;
	border:1px solid #888888;
	display:inline-block;
    color: #dbdbdb;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
    float: right;
    width: 140px;
    padding:2px;
    margin-bottom: 2px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
    text-shadow: 1px 3px 4px #000000;
}
#btnHeader:hover {
	background: #949494;
    background-image: -webkit-linear-gradient(top, #949494, #d1d1d1);
    background-image: -moz-linear-gradient(top, #949494, #d1d1d1);
    background-image: -ms-linear-gradient(top, #949494, #d1d1d1);
    background-image: -o-linear-gradient(top, #949494, #d1d1d1);
    background-image: linear-gradient(to bottom, #949494, #d1d1d1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
#btnHeader:active {
	position:relative;
	top:1px;
}

#content {
    background-color:#cee;
    float:right;
    margin:10px 20px 30px 20px;
    padding:10px;
    width:1000px;
}

#footer {
    clear:both;
    width:100%;
    height:55px;
    border-top:1px solid #ccc;
}

#view {
    background-color:#ffffff;
    border: 1px solid black;
    border-collapse:collapse;
    text-align:left;
    width:100%;
}

#email th {
    width:20%;
}

#edit th {
    width:10px;
}

#cell {
    border-right:1px solid black;
    text-align:left;
    padding-left:15px;
}

#alt {
    background-color:#DDffff;
}

.calendar-box {
	display:none;
	background-color:#fff;
	border:1px solid #444;
	position:absolute;
	width:160px;
	padding: 0 2px;
}
.calendar-box select.calendar-month {
	width:50px;
}
.calendar-box select.calendar-year {
	width:55px;
}
.calendar-box .calendar-cancel {
	width:100%;
}
.calendar-box table td {
	width:10%;
}
.calendar-box .calendar-title {
	text-align:center;
}
.calendar-box a {
	text-decoration:none;
}
.calendar-box .today a {
	padding:0 2px;
	margin-left:-5px;
	background-color:#ffe9c6;
} 
.calendar-box .selected a {
	padding:0 2px;
	margin-left:-5px;
	background-color:#c9ff8b;
}
