#login {
    width:400px;
    margin:auto;
}

input {
    margin:1px;
}

table {
    margin:auto;
    border:0;
}

td {
    border:0;
}

#redirect {
    text-align:center;
}

#home {
    text-align:center;
}

#password {
    width:400px;
    margin:auto;
}

#result {
    text-align:center;
}